cffi
cloudpickle
cycler
dask
decorator
imageio
kiwisolver
matplotlib
networkx
numpy
pandas
Pillow
pycparser
pygit
pyparsing
python-dateutil
pytz
PyWavelets
PyYAML
scikit-image
scikit-learn
scipy
six
toolz
tqdm
umap-learn
visdom
librosa>=0.8.0
tqdm
sounddevice
SoundFile
Unidecode
inflect
PyQt5
multiprocess
numba
webrtcvad; platform_system != "Windows"
